body {
  background: #f5f5f5;
}

.game-map {
  border-collapse: collapse;
  margin: 0 auto;
}

.game-map td {
  width: 50px;
  height: 50px;
  background: #eee;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.fightContainer {
  display: flex;
  justify-content: space-between;
}

.player,
.enemy,
.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.actions {
  justify-content: space-evenly;
  margin: 0 10px;
}

.player img,
.enemy img {
  width: 200px;
}

.gameOptions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monsterBage {
  fill: white;
  color: white;
  width: 20px;
}

.worldMap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.moviemonsterItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.moviemonsterHolder {
  position: relative;
}

.moviemonsterPic {
  width: 200px;
}

.notDefeated {
  filter: grayscale(100%);
}

.customLink {
  color: white;
  text-decoration: none;
}

.customLink:visited {
  color: white;
}

.svgContainer > svg {
  width: 22px;
  fill: rgba(255, 255, 255, 0.8);
}

.victory {
  position: absolute;
  top: 0;
  right: 0;
}

.victory > svg{
  fill: #00c853;
  width: 45px;
  height: 45px;
}
